		#tr2:hover{
			background-color:#C9E4FF;
			color:black;
			cursor:pointer;
		}
		
		.modal-content{
			background-color:rgba(242,246,248,0.92);
		}
		
		.modal-dialog {		
		text-align: left;	
		vertical-align: middle;
		}
		
		.modal .modal-dialog .modal-content {
    		height: 300px;
    width: 500px;
    border-color: transparent;
    border-radius: 25px;
    padding: 25px;
}

		
		#MyModal1{
			width: 823px;
			height:700px;
			margin-left: 429px;
			margin-top: 26px;
		}
#MyModal{
			width: 40%;
			height:auto;
			margin-left: 429px;
			margin-top: 15%;
		}